<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
     <aside class="menu">
     <ul>
          <li><a href="/">TOP</a></li>
          <li><a href="/register">会員登録</a></li>
          <li><a href="/login">会員ログイン</a></li>
          <br><br><br><br>
          <li><a href="/admin/login">管理者ログイン</a></li>
        </ul>
     </aside>
     <main class="content">
          <h1>あいうえお美術館</h1>
          <h2>管理者ページにログイン</h2>

          {% with messages = get_flashed_messages(category_filter=["login"]) %}
               {% if messages %}
               <div class="flash">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
               </div>
               {% endif %}
          {% endwith %}

          <div class="container">
               <form action="{{ url_for('main.admin_login') }}" method="post">
                    <label>管理者ID：</label>
                    <input type="text" name="username"><br>
                    <label>パスワード：</label>
                    <input type="password" name="password"><br><br>			
                    <button type="submit">ログイン</button>
               </form>
          </div>
     </main>
</body>
   
</html>