<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <aside class="menu">
        <ul>
            <li><a href="/">TOP</a></li>
            <li><a href="/register">会員登録</a></li>
            <li><a href="/login">会員ログイン</a></li>
            <br><br><br><br>
            <li><a href="/admin/login">管理者ログイン</a></li>
        </ul>
   </aside>
   <main class="content">
        <h1>あいうえお美術館</h1>
        <p>国内の美術館のイベント情報などを紹介するページです</p>
        <p>※ポートフォリオ用仮設サイト</p>
   </main>
</body>
   
</html>